.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #ffffff;
}

.title-label {
    -fx-font-size: 30px;
    -fx-text-fill: #333;
}
.exam-label {
    -fx-text-fill: red;
}
.dark-mode {
    /* Styles pour le mode sombre */
    -fx-background-color: #31302F;}
.style {
    /* Styles par défaut */
    -fx-background-color: white;
    /* Autres styles */
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
    -fx-text-fill: black;

}

.text-field, .password-field {
    -fx-padding: 8px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #5cb85c;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-weight: bold;
}
.combo-box-base {
    -fx-background-color: #5cb85c;
}

.combo-box .list-cell {
    -fx-background-color: #5cb85c;
}

.radio-button .text {
    -fx-fill: black; /* Change la couleur du texte */
}
.button:hover {
    -fx-background-color: #5cb85c;
}
